{% extends 'base.html' %}
{% block title %} About-Us {% endblock title %} 
{% block body %} 
<div class="container top-0 my-3">
    <div class="carousel-inner ">
        <img src="static\About.png" alt="bg image" height="550" class="container-fluid">
        <div class="carousel-caption top-0 my-5 "> 
            <h2 class="text-dark "> <strong> Welcome To The <u>Pizza Mania</u> !!! </strong>  </h2>
            <p class= "fixed-bottom text-dark mb-5 "><strong>This is Pizza Mania website Here you will find Popular Pizza's.Which are made by our professional chef's,We hope you will like our services.</strong>
                <strong><br> Pizza Mania made with ♥ 
                <br> ©2022-2023 </strong> 
                
            </p>
        </div>
    </div>
</div>
{% endblock body %}
