{% extends 'base.html' %}
{% block title %} Log-In{% endblock title %}
{% block body %}
{% if messages %}
{% for message in messages %} 
<div class="alert alert-{{message.tags}} alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div>
 {% endfor %}
{% endif %}
<div class="container p-5 height:100">
    <form method="post" action="/Login">
    {% csrf_token %}

        <h1 class="text-center"><strong><u> Log-In </u></strong></h1>
        <div class="container-fluid ">
            <label for="name"><b> User Name : </b></label>
            <input type="text" class="form-control" id="name" name="username" placeholder="Example: harry">
        </div>
        <div class="container-fluid">
            <label for="password"><b> Password : </b></label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>

        <div class="checkbox mb-2 ">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="text-center text-muted">&copy; 2017–2022</p>
    </form>
</div>
{% endblock body %}